
<script src="~/Scripts/MisScripts/ScriptsHacerPedido.js"></script>

@{
    ViewBag.Title = "Hacer Pedido";

    @* Esta línea de código refresca la vista del layout correspondiente, lo
        que permite que se vuelva a ejecutar su document.ready() de nuevo. *@
    Layout = "~/Views/Shared/_LayoutPractica.cshtml";
}

@* CARD HACER PEDIDO *@
<div class="card text-white my-3">

    <div class="card-header bg-info">
        <h2>Hacer Pedido</h2>
    </div>

    <div class="card-body row d-flex justify-content-center bg-mi-info mx-0 px-5">

        @* CONTROLES AÑADIR PRODUCTOS *@
        <div class="col-12 col-lg-4 text-lg-right px-1 mt-1 mb-2">
            <select id="cmbProductos" class="py-1 rounded"></select>
        </div>
        <div class="col-12 col-lg-3 px-1 mt-1 mb-2">
            <input id="txtUnidades" class="pr-3 pr-lg-0 rounded" placeholder="Unidades" />
        </div>
        <div class="col-12 col-lg-3 d-flex justify-content-center mb-2">
            <button id="btnAnadir" class="btn btn-light border-dark mx-1 px-4"
                    onclick="NuevoProducto(this)">
                Añadir
            </button>
            <button id="btnModificar" class="btn btn-info border-dark mx-1"
                    onclick="ModificarProducto(this)">
                Modificar
            </button>
        </div>

        @* TABLA LINEAS DETALLE *@
        <div class="table-responsive mb-5">
            <table id="tablaLineasDetalle" class="table bg-light mt-3"></table>
        </div>

        @* BOTON HACER PEDIDO *@
        <div class="col-12 col-md-6 text-md-right">
            <button id="btnHacerPedido" class="btn btn-warning border-dark mb-2 px-5"
                    onclick="CrearPedido()" disabled="disabled">
                Hacer Pedido
            </button>
        </div>

        @* BOTON VOLVER *@
        <div class="col-12 col-md-6 text-md-left">
            <button class="btn btn-secondary border-dark mb-2 px-3"
                    onclick="VolverAListaPedidos()">
                Volver a Lista de Pedidos
            </button>
        </div>

    </div>

</div>

