
<script src="~/Scripts/MisScripts/ScriptsListaPedidosCliente.js"></script>

@{
    ViewBag.Title = "Pedidos Cliente";

    @* Esta línea de código refresca la vista del layout correspondiente, lo
        que permite que se vuelva a ejecutar su document.ready() de nuevo. *@
    Layout = "~/Views/Shared/_LayoutPractica.cshtml";
}

<h2>Pedidos Cliente</h2>

@* FILTRAR PEDIDOS POR FECHA *@
<form class="row justify-content-center mt-md-5">
    <div class="col-12 col-md-4 mb-2">
        Desde <input id="fechaDesde" type="date" />
    </div>
    <div class="col-12 col-md-4 mb-2">
        Hasta <input id="fechaHasta" type="date" />
    </div>
    <div class="col-12 col-md-4 mb-2">
        <input type="button" value="Filtrar" onclick="FiltrarPedidos()" />
        <input type="button" value="Limpiar filtros" onclick="QuitarFiltros()" />
    </div>
</form>


@* TABLA PEDIDOS DEL CLIENTE *@
<div class="table-responsive">
    <table id="tablaPedidos" class="table mx-auto mt-3"></table>
</div>

@* MODAL DETALLE DE UN PEDIDO *@
<div class="modal fade" id="modalDetalle" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light">Detalle del Pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p class="text-left mt-3">
                    <label><b>Código pedido: &nbsp;</b></label>
                    <label id="lblCodigoPedido"></label>
                    <br />

                    <label><b>Fecha pedido: &nbsp;</b></label>
                    <label id="lblFechaPedido"></label>
                    <br />
                </p>

                @* TABLA DETALLE DE UN PEDIDO *@
                <div class="card">
                    <table id="tablaDetalle" class="table table-hover"></table>
                </div>
            </div>

        </div>
    </div>
</div>


@* BOTON HACER NUEVO PEDIDO *@
<a href="/Home/HacerPedido" style="font-size: 24px;"
   class="btn btn-warning border-dark rounded my-4 px-5">Nuevo pedido</a>

