@*
    <script src="~/Scripts/MisScripts/ScriptsCliente.js"></script>
*@

<div id="login" class="row ml-md-auto mt-4 my-md-2">
    <div class="col-12 mb-1 d-flex justify-content-md-end">
        <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#modalLogin" data-es-cliente="1">
            Login Cliente
        </button>
    </div>

    <div class="col-12 mt-1 d-flex justify-content-md-end">
        <button type="button" class="btn btn-success" data-toggle="modal"
                data-target="#modalLogin" data-es-cliente="0">
            Login Empleado
        </button>
    </div>
</div>
