@*
    <script src="~/Scripts/MisScripts/ScriptsCliente.js"></script>
*@

<div id="logout" class="row ml-sm-auto mt-4 mt-md-2">
    <div class="col-12">
        <div class="d-flex justify-content-md-center">
            <button type="button" class="btn btn-danger mb-2" onclick="renderLogin()">
                Logout
            </button>
        </div>
        <p id="nombreUsuario"></p>
    </div>
</div>
