
<script src="~/Scripts/MisScripts/ScriptsCliente.js"></script>

@{
    Layout = "~/Views/Shared/_LayoutPractica.cshtml";
    ViewBag.Title = "Pedidos Cliente";
}

<h2>Pedidos Cliente</h2>

@*<button onclick="ContenidoCombo()">Contenido combo</button>*@

