img {
    max-width: 100px;
    width: 100px !important;
}
.grid-container {
    display: grid;
}
.bg-cabecera {
    background-color: rgba(140.8, 228.1, 221.0, 0.9); 
    /*background-color: red;*/
}
#modalLogin form label {
    width: 110px;
}
#login .btn, #logout .btn {
    width: 200px;
}

