
@{
    ViewBag.Title = "LoginConLayout";
    Layout = "~/Views/Shared/_LayoutPractica.cshtml";
}


@*
       -- FORMULARIO LOGIN CLIENTE --
    <div>
        <form method="post" action="Home/ValidarLogin">
            <fieldset>
                <legend>Login Cliente</legend>
                <label>Mail Cliente</label>
                <input type="text" id="txtMailCliente" name="txtMail" />
                <br />
                <br />
                <label>Contraseña</label>
                <input type="text" id="txtPasswordCliente" name="txtPassword" />
                <br />
                <br />
                <input type="submit" value="Validar" />
            </fieldset>
        </form>
    </div>
       -- FORMULARIO LOGIN CLIENTE --
*@

